body {
    color: blue;
    background:green;
    margin: 50px;
}
h1 {
    font-size: large;
    color: blue;
}
a {
    color: brown;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}